.todo-card{
  
   background-color: white;
  color: black;
  
  max-width: 400px;
  height: 60vh;
  border-radius: 10px;
  min-height: 300px;
  overflow-y: scroll;
 margin-top: 30px;

}
@media screen and (max-width: 600px) {
 .todo-card{
  min-width: 90vw;
  min-height: 40vh;
 }
}