.heading-main{
    background-color: rgb(0, 21, 255);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-main h2{
    color: white;
    font-size: 45px;
}