.inputfield-main{
    margin-top: 10vh;
}
.inputfield-main input{
    width: 200px;
    height: 40px;
    padding: 5px;
    outline: none;
    border: 2px solid gray;
    border-radius: 8px;
}
.inputfield-main button{
     width: 70px;
    height: 50px;
     padding: 5px;
     margin-left: 10px;
     background-color: rgb(59, 109, 246);
     border: none;
     color: white;
     border-radius: 6px;

}    