.itemlist-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
   
   align-content: center;
}
.circle{
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1.7px solid black;
    padding: 0;
    border-radius: 50%;
}

.list-item{
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
   padding: 5px;
    
}
.list-btn{
     padding: 5px;
     border: none;
     margin-left: 10px
}
p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.bg-orange{
   background: white;
  border-radius: 50%; /* remove this if you want a square */
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle img{
    width: 100%;
    height: 100%;
    background-size: cover;         
  background-repeat: no-repeat;   
  background-position: center; 
}

.line{
    text-decoration: line-through;
}