.itemlist-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
   
   align-content: center;
}
.circle{
    width: 10px;
    height: 10px;
    border: 1.7px solid black;
    border-radius: 50%;
}

.list-item{
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
   padding: 5px;
    
}
.list-btn{
     padding: 5px;
     border: none;
     margin-left: 10px
}
p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}