
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



*{
  margin: 0;
    user-select: none;
  padding: 0;
 	::-webkit-scrollbar { display: none; }
}
body{
    background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); 
font-family: "Comic Relief";
}